/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 05/05/2020, 19:54:58
    Author     : daniel
*/

@import'slide';
@import'sobre';
@import'destaque';
@import'maps';
@import'contato';
@import'feedback';






