/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 05/05/2020, 19:10:26
    Author     : daniel
*/

/*$bg_header:rgba(255, 179, 56,1);*/
$bg_header:rgba(240, 123, 34,1);
$bg_a_header:rgba(252, 246, 78,1);


#header-topo{
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   transition: top 0.8s;
   z-index: 6000;
   background-color: $bg_header;

   .nav-topo{
      width: 100%;
      height: 6vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .ul-logo{
         width: 65%;
         display: flex;
         justify-content: center;
         align-items: center;
         
         li{
            display: flex;
            justify-content: center;
            align-items: center;
            
            a{
               height: 5vh;
               color: red;
               font-size: 2.8rem;
               background-color:  $bg_a_header;
               border-radius: 3px;
               font-weight: bold;
               line-height: 5vh;
               padding-left: 10px;
               padding-right: 10px;
               img{
                  height: 100%;
                  background-color:  rgba(19, 144, 207,0.6);
                  border-radius: 3px;
               }
            }
         }
      }
      #menu_img{
         width: 25%;
         height: 5vh;
         display: flex;
         justify-content: center;
         align-items: center;
         img{
            height: 100%;
            background-color:  $bg_a_header;
            border-radius: 3px;
         }
      }
      .ul-link{
         background-color: $bg_header;
         width: 100%;
         height: 110vh;
         display: flex;
         flex-direction: column;
         align-items: center;
         position: fixed;
         top: 0;
         padding-top: 12vh;
         font-size: 3rem;
         z-index: -1;
         li{
            margin-top: 2rem;
            
            a{
               color: rgba(90, 97, 92,1);
               text-shadow:1px 1px white; 
               font-weight: bold;
            }
         }
      }

      .ativo{
         display: flex;
         animation: suave 1.2s ease;
      }
      .inativo{
         display: none;
      }
   }
}

@Keyframes suave{
   from{
      opacity: 0;
   }

   to{
      opacity: 1;
   }
}
.conteudo{
   width: 100%;
}

/*MENOR QUE 786*/

/*/////////////MEDIA QUERIES INICIO//////////////*/
/*768 px*/
@media only screen and (min-width: 48em) {

   #header-topo{
      .nav-topo{
         .ul-logo{
            width: 30%;
            li{
               a{
                  img{
                  }
               }
            }
         }
         #menu_img{
            display: none;
            img{
            }
         }
         .ul-link{
            width: 70%;
            height: 5vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            position: relative;
            top: 0;
            z-index: 400;
            padding-top: 0;
            li{
               background-color:  $bg_a_header;
               border-radius: 3px;
               display: flex;
               flex-direction: row;
               justify-content: center;
               align-items: center;
               margin-left:2rem;
               padding-left: 2rem;
               padding-right: 2rem;
               height: 100%;
               margin-top: 0;
               a{
               }
               &:hover{
                  background-color: rgba(255, 255, 255,1);
                  height: 6vh;
               }
            }
         }

         .inativo{
            display: flex;
         }
      }
   }


}

